Link,
a {
  cursor: pointer !important;
}
.navbar-nav .nav-link.active {
  color: #0aad0a;
}
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: rgb(20, 128, 168);
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
.nav-link.active {
  color: var(--main-color) !important;
}
.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--main-color);
}
@media (min-width: 768px) {
  .product .btn {
    transition: transform 1s, opacity 1s;
    transform: translateY(100%);
    opacity: 0;
  }
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.font-sm {
  font-size: 14px;
}
.text-main {
  color: var(--main-color);
}
.color-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.grey-color {
  color: dimgrey;
}
.bg-sky {
  background-color: rgb(156, 207, 179);
}
.fs-7 {
  font-size: 0.75rem;
}
.b-1px-main {
  border: 2px solid var(--main-color);
  border-radius: 5px;
}

Link {
  cursor: pointer !important;
}
.footer-btn {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo-style {
  height: 50px;
  width: 50px;
}
